In [656]:
import pandas as pd 
import numpy as np

In [658]:
df = pd.read_csv("D:/Swiggy_Proj/Swiggy_projwork/swiggy.csv")
df.head(50)

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
5,158204,Sam Uncle,Abohar,3.6,20+ ratings,₹ 200,Continental,22119652000052,https://www.swiggy.com/restaurants/sam-uncle-c...,"Sam Uncle, hanumangarh road near raja bajaj sh...",Menu/158204.json
6,156588,shere punjab veg,Abohar,4.0,100+ ratings,₹ 150,North Indian,22120652000021,https://www.swiggy.com/restaurants/shere-punja...,"shere punjab veg, major surinder chowk near ve...",Menu/156588.json
7,244866,Shri Balaji Vaishno Dhaba,Abohar,--,Too Few Ratings,₹ 100,North Indian,22119652000389,https://www.swiggy.com/restaurants/shri-balaji...,"Shri Balaji Vaishno Dhaba, St no 13,6th chowk,...",Menu/244866.json
8,156602,Hinglaj Kachori Bhandhar,Abohar,4.2,20+ ratings,₹ 100,"Snacks,Chaat",22119652000042,https://www.swiggy.com/restaurants/hinglaj-kac...,"Hinglaj Kachori Bhandhar, street no 11 circula...",Menu/156602.json
9,158193,yummy hub,Abohar,--,Too Few Ratings,₹ 200,Indian,22119652000045,https://www.swiggy.com/restaurants/yummy-hub-c...,"yummy hub, hanumangarh road near dr naveen set...",Menu/158193.json
10,407249,CHAWLA SAAB THE JUICE MASTER,Abohar,--,Too Few Ratings,₹ 300,"Juices,Beverages",22121652000374,https://www.swiggy.com/restaurants/chawla-saab...,"CHAWLA SAAB THE JUICE MASTER, SAHITYA SADAN MA...",Menu/407249.json
11,156590,Sethi Milk Badam,Abohar,4.2,20+ ratings,₹ 100,"Sweets,Desserts",22119652000039,https://www.swiggy.com/restaurants/sethi-milk-...,"Sethi Milk Badam, main bazar street no 11 abohar",Menu/156590.json
12,338749,Swastik Dhaba,Abohar,--,Too Few Ratings,₹ 200,North Indian,license,https://www.swiggy.com/restaurants/swastik-dha...,"Swastik Dhaba, Gaushala road street no 22 near...",Menu/338749.json
13,156601,Jodhpuri Kachori,Abohar,--,Too Few Ratings,₹ 100,Snacks,22121652000387,https://www.swiggy.com/restaurants/jodhpuri-ka...,"Jodhpuri Kachori, mandi 1 street no 4 main baz...",Menu/156601.json
14,156587,Bharawan Da Dhaba,Abohar,4.4,50+ ratings,₹ 300,Indian,license,https://www.swiggy.com/restaurants/bharawan-da...,"Bharawan Da Dhaba, rimpy bakery 12 circular ro...",Menu/156587.json
15,158192,Tandoori Nights,Abohar,--,Too Few Ratings,₹ 300,Tandoor,22121652000229,https://www.swiggy.com/restaurants/tandoori-ni...,"Tandoori Nights, near civil hospital canteen a...",Menu/158192.json
16,394554,Roll Express,Abohar,4.0,20+ ratings,₹ 200,Fast Food,22117652000070,https://www.swiggy.com/restaurants/roll-expres...,"Roll Express, Roll Express, Opposite Dr. Sarla...",Menu/394554.json
17,158195,wah ji waah veg and non veg corner,Abohar,--,Too Few Ratings,₹ 200,"North Indian,Chinese",22119652000157,https://www.swiggy.com/restaurants/wah-ji-waah...,"wah ji waah veg and non veg corner, Hanuman ga...",Menu/158195.json
18,257181,Shri Balaji fast food and Variety store,Abohar,--,Too Few Ratings,₹ 100,Indian,license,https://www.swiggy.com/restaurants/shri-balaji...,"Shri Balaji fast food and Variety store, oppos...",Menu/257181.json
19,530909,FOODY MOOD,Abohar,4.7,20+ ratings,₹ 300,"Fast Food,Chinese",22122652000115,https://www.swiggy.com/restaurants/foody-mood-...,"FOODY MOOD, Arya nagar St no 7 Abohar, Abohar ...",Menu/530909.json
20,573649,PUNJABI TADKA,Abohar,--,Too Few Ratings,₹ 700,"Punjabi,North Indian",22121652000276,https://www.swiggy.com/restaurants/punjabi-tad...,"PUNJABI TADKA, HANUMANGARH ROAD,UNDER FLYOVER...",Menu/573649.json
21,573656,PUNJABI TADKA CHICKEN HUB,Abohar,--,Too Few Ratings,₹ 650,"North Indian,Tandoor",22121652000276,https://www.swiggy.com/restaurants/punjabi-tad...,"PUNJABI TADKA CHICKEN HUB, HANUMANGARH ROAD,UN...",Menu/573656.json
22,420675,Royal Chicken,Abohar,4.2,20+ ratings,₹ 200,"Mughlai,North Indian",22121652000472,https://www.swiggy.com/restaurants/royal-chick...,"Royal Chicken, Near Naveen Sethi Hospital, Und...",Menu/420675.json
23,427610,Just Baked,Abohar,--,Too Few Ratings,₹ 300,"Beverages,Pizzas",22121652000339,https://www.swiggy.com/restaurants/just-baked-...,"Just Baked, New Abadi, Ward no. 22, Abohar (M ...",Menu/427610.json
24,435582,Picado International Food,Abohar,--,Too Few Ratings,₹ 300,"Pizzas,Beverages",22121652000286,https://www.swiggy.com/restaurants/picado-inte...,"Picado International Food, Opp New Grain Marke...",Menu/435582.json
25,382204,PubG Cafe,Abohar,--,Too Few Ratings,₹ 200,"Chinese,Pizzas",22121652000181,https://www.swiggy.com/restaurants/pubg-cafe-c...,"PubG Cafe, St. No 2, Near Essar petrol pump, S...",Menu/382204.json
26,460692,Verma Dhaba,Abohar,--,Too Few Ratings,₹ 300,Indian,22121652000551,https://www.swiggy.com/restaurants/verma-dhaba...,"Verma Dhaba, GangaNagar Road, Near Tara Estate...",Menu/460692.json
27,368328,Fresh Food Cafe,Abohar,--,Too Few Ratings,₹ 150,North Indian,22121652000165,https://www.swiggy.com/restaurants/fresh-food-...,"Fresh Food Cafe, Sito Road, Near Railway Cross...",Menu/368328.json
28,530878,NAVU PIZZA HOUSE,Abohar,--,Too Few Ratings,₹ 300,"Pizzas,Fast Food",22122652000121,https://www.swiggy.com/restaurants/navu-pizza-...,"NAVU PIZZA HOUSE, COLLEGE ROAD ABOHAR,ABOHAR,F...",Menu/530878.json
29,171675,Domino's Pizza,Abohar,4.4,20+ ratings,₹ 400,Pizzas,12115201000054,https://www.swiggy.com/restaurants/dominos-piz...,"Domino's Pizza, ADAHeights,HanumangarhRoad,Sun...",Menu/171675.json
30,475283,Joker Cafe,Abohar,--,Too Few Ratings,₹ 200,Indian,license,https://www.swiggy.com/restaurants/joker-cafe-...,"Joker Cafe, First Floor, Shop No.226, City Wal...",Menu/475283.json
31,421155,Deepak Dhaba,Abohar,--,Too Few Ratings,₹ 350,"North Indian,Chinese",22121652000505,https://www.swiggy.com/restaurants/deepak-dhab...,"Deepak Dhaba, Sito Chowk Near By Pass, Abohar",Menu/421155.json
32,545273,FUN TIME (SHARMA DAIRY),Abohar,--,Too Few Ratings,₹ 300,Ice Cream,22118652000228,https://www.swiggy.com/restaurants/fun-time-sh...,"FUN TIME (SHARMA DAIRY), ST NO. 10,NEW ABADI A...",Menu/545273.json
33,440811,Pari Healthy Food,Abohar,--,Too Few Ratings,₹ 300,"Pizzas,American",22121652000348,https://www.swiggy.com/restaurants/pari-health...,"Pari Healthy Food, Dhani Bishesharnath, Kandhw...",Menu/440811.json
34,420586,Bhatti Ki Rasoi,Abohar,--,Too Few Ratings,₹ 200,North Indian,license,https://www.swiggy.com/restaurants/bhatti-ki-r...,"Bhatti Ki Rasoi, HANUMANGARH ROAD, AZIMGARH CH...",Menu/420586.json
35,448046,SETHI PUNJABI RASOI,Abohar,--,Too Few Ratings,₹ 300,Indian,22121652000267,https://www.swiggy.com/restaurants/sethi-punja...,"SETHI PUNJABI RASOI, HANUMANGARH ROAD NEAR AZI...",Menu/448046.json
36,187921,Kurda Ram Desi Ghee Dhaba(Original & Famous),Abohar,--,Too Few Ratings,₹ 250,North Indian,22120652000055,https://www.swiggy.com/restaurants/kurda-ram-d...,"Kurda Ram Desi Ghee Dhaba(Original & Famous), ...",Menu/187921.json
37,551512,Paratha 24x7,Abohar,--,Too Few Ratings,₹ 150,"Indian,Thalis",22122652000127,https://www.swiggy.com/restaurants/paratha-24x...,"Paratha 24x7, Waryam nagar, Abohar (M Cl), Faz...",Menu/551512.json
38,351387,NIKKU VEG THALI,Abohar,4.1,100+ ratings,₹ 150,North Indian,22121652000183,https://www.swiggy.com/restaurants/nikku-veg-t...,"NIKKU VEG THALI, College Road, Near Railway Li...",Menu/351387.json
39,432675,PARJAPATI FAST FOOD,Abohar,--,Too Few Ratings,₹ 200,"Fast Food,American",license,https://www.swiggy.com/restaurants/parjapati-f...,"PARJAPATI FAST FOOD, NEW GRAIN MARKET, NEAR SE...",Menu/432675.json
40,302868,Ganesh Fast Food,Abohar,--,Too Few Ratings,₹ 150,Chaat,22120652000112,https://www.swiggy.com/restaurants/ganesh-fast...,"Ganesh Fast Food, Abohar, Fazlika road chowk, ...",Menu/302868.json
41,567664,Mitran Da dhaba,Abohar,--,Too Few Ratings,₹ 200,"North Indian,Indian",22122652000081,https://www.swiggy.com/restaurants/mitran-da-d...,"Mitran Da dhaba, Uttam Vihar colony, gate-2, L...",Menu/567664.json
42,440878,The Super Cafe,Abohar,--,Too Few Ratings,₹ 250,Beverages,22121652000518,https://www.swiggy.com/restaurants/the-super-c...,"The Super Cafe, NAI ABADI, BADI POUDI, ST. NO....",Menu/440878.json
43,161396,chacha sweets house,Abohar,--,Too Few Ratings,₹ 200,"Sweets,Beverages",22119652000095,https://www.swiggy.com/restaurants/chacha-swee...,"chacha sweets house, h no 2402 st no 24 gausha...",Menu/161396.json
44,382249,Cafe M,Abohar,--,Too Few Ratings,₹ 200,"Continental,Snacks",license,https://www.swiggy.com/restaurants/cafe-m-cent...,"Cafe M, NEAR SITO FATAK, OPP LOONA NURSING HOM...",Menu/382249.json
45,161408,Frankie roll junction,Abohar,--,Too Few Ratings,₹ 60,"North Indian,Fast Food",license,https://www.swiggy.com/restaurants/frankie-rol...,"Frankie roll junction, lajpat rai market near ...",Menu/161408.json
46,432684,G.K Dhaba,Abohar,--,Too Few Ratings,₹ 300,"North Indian,Thalis",22121652000344,https://www.swiggy.com/restaurants/g-k-dhaba-c...,"G.K Dhaba, Khandwala Road, Abohar",Menu/432684.json
47,459776,DAYA RAJ VEG VAISHNO DHABA AND CATERS,Abohar,--,Too Few Ratings,₹ 300,"Chinese,Snacks",22121652000615,https://www.swiggy.com/restaurants/daya-raj-ve...,"DAYA RAJ VEG VAISHNO DHABA AND CATERS, THAKKA...",Menu/459776.json
48,459775,JUICY BAR N RESTO,Abohar,--,Too Few Ratings,₹ 300,"Beverages,Pizzas",22121652000564,https://www.swiggy.com/restaurants/juicy-bar-n...,"JUICY BAR N RESTO, BABA NAMDEV CHOWK, NEAR DOM...",Menu/459775.json
49,420637,FresHub,Abohar,--,Too Few Ratings,₹ 200,Beverages,22121652000474,https://www.swiggy.com/restaurants/freshub-cen...,"FresHub, SHOP NO. 118, CITY WALK MALL, GROUND ...",Menu/420637.json

In [662]:
df.drop(columns=["link", "address", "menu"], inplace=True)

In [664]:
df.drop(columns=["lic_no"], inplace=True)
data

,id,name,city,rating,rating_count,cost,cuisine,name_encoded,city_encoded,cuisine_encoded
0,567335,AB FOODS POINT,Abohar,3.0,10,200.0,"Beverages,Pizzas",1583,1,328
1,531342,Janta Sweet House,Abohar,4.4,50,200.0,"Sweets,Bakery",47415,1,1983
2,158203,theka coffee desi,Abohar,3.8,100,100.0,Beverages,112634,1,289
3,187912,Singh Hut,Abohar,3.7,20,250.0,"Fast Food,Indian",90297,1,796
4,543530,GRILL MASTERS,Abohar,3.0,10,250.0,"Italian-American,Fast Food",34936,1,1166
...,...,...,...,...,...,...,...,...,...,...
148437,553122,The Food Delight,Yavatmal,3.0,10,200.0,"Fast Food,Snacks",100656,816,822
148438,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,300.0,Pizzas,56578,816,1646
148439,559435,Cafe Bella Ciao,Yavatmal,3.0,10,300.0,"Fast Food,Snacks",18414,816,822
148440,418989,GRILL ZILLA,Yavatmal,3.0,10,250.0,Continental,34955,816,650
148441,447770,Lazeez kitchen,Yavatmal,3.0,10,200.0,Pizzas,54916,816,1646

In [488]:
df.drop_duplicates(inplace=True)
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas

In [ ]:
df['rating'].replace('--', 3.0, inplace=True)  # Replace '--' with 3.0
df['rating'] = df['rating'].astype(float)  # Convert to float

In [ ]:
df['rating_count'].replace("Too Few Ratings", "10", inplace=True)

In [ ]:
df['rating'].replace('--', 3.0, inplace=True)  # Replace '--' with 3.0
df['rating'] = df['rating'].astype(float)  # Convert to float

In [494]:
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.0,10,₹ 200,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.0,10,₹ 250,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.0,10,₹ 200,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,₹ 300,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,3.0,10,₹ 300,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,3.0,10,₹ 250,Continental
148540,447770,Lazeez kitchen,Yavatmal,3.0,10,₹ 200,Pizzas

In [408]:
# Check the data types of all columns in the DataFrame
print(df.dtypes)

id                int64
name             object
city             object
rating          float64
rating_count     object
cost             object
cuisine          object
dtype: object

In [496]:
df.duplicated().sum()

0

In [498]:
df['rating'] = df['rating'].fillna(3.0)

In [500]:
# Check for unique values in the 'rating' column
print(df['rating'].unique())

[3.  4.4 3.8 3.7 3.6 4.  4.2 4.7 4.1 3.5 3.1 3.4 3.3 4.8 3.9 2.7 4.3 2.9
 4.5 2.5 3.2 2.4 4.6 2.8 2.3 5.  2.6 2.2 1.4 1.9 4.9 2.1 1.3 2.  1.8 1.6
 1.1 1.5 1.  1.2 1.7]

In [502]:
print(df['rating'].dtype)

float64

In [504]:
print(df['rating'].isnull().sum())

0

In [506]:
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.0,10,₹ 200,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.0,10,₹ 250,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.0,10,₹ 200,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,₹ 300,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,3.0,10,₹ 300,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,3.0,10,₹ 250,Continental
148540,447770,Lazeez kitchen,Yavatmal,3.0,10,₹ 200,Pizzas

In [508]:
# Remove "+ ratings" from the 'rating_count' column
df['rating_count'] = df['rating_count'].str.replace("+ ratings", "").str.strip()

In [510]:
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.0,10,₹ 200,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50,₹ 200,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100,₹ 100,Beverages
3,187912,Singh Hut,Abohar,3.7,20,₹ 250,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.0,10,₹ 250,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.0,10,₹ 200,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,₹ 300,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,3.0,10,₹ 300,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,3.0,10,₹ 250,Continental
148540,447770,Lazeez kitchen,Yavatmal,3.0,10,₹ 200,Pizzas

In [512]:
# Check for unique values in the 'rating' column
print(df['rating_count'].unique())

['10' '50' '100' '20' '500' '1K' '5K' nan '10K']

In [514]:
# Replace '1K', '5K', and '10K' with their numeric equivalents, and handle NaN values
df['rating_count'] = df['rating_count'].replace({
    '1K': 1000,
    '5K': 5000,
    '10K': 10000,
    np.nan: 3.0  # Replace NaN with 3.0
})

# Convert the column to numeric for consistency
df['rating_count'] = df['rating_count'].astype(float)

# Verify the changes
print(df['rating_count'].unique())

[1.e+01 5.e+01 1.e+02 2.e+01 5.e+02 1.e+03 5.e+03 3.e+00 1.e+04]

In [516]:
# Convert the 'rating_count' column to float and ensure standard float formatting
df['rating_count'] = df['rating_count'].astype(float)

# Optionally, format the display settings in pandas to avoid scientific notation
pd.options.display.float_format = '{:.1f}'.format

# Verify the changes
print(df['rating_count'].head())

0    10.0
1    50.0
2   100.0
3    20.0
4    10.0
Name: rating_count, dtype: float64

In [518]:
# Convert the 'rating_count' column to integers
df['rating_count'] = df['rating_count'].astype(int)

# Verify the changes
print(df['rating_count'].head())

0     10
1     50
2    100
3     20
4     10
Name: rating_count, dtype: int32

In [520]:
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.0,10,₹ 200,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50,₹ 200,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100,₹ 100,Beverages
3,187912,Singh Hut,Abohar,3.7,20,₹ 250,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.0,10,₹ 250,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.0,10,₹ 200,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,₹ 300,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,3.0,10,₹ 300,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,3.0,10,₹ 250,Continental
148540,447770,Lazeez kitchen,Yavatmal,3.0,10,₹ 200,Pizzas

In [522]:
# Convert the 'rating_count' column to integers
df['rating_count'] = df['rating_count'].astype(int)

In [524]:
# Check the data types of all columns in the DataFrame
print(df.dtypes)

id                int64
name             object
city             object
rating          float64
rating_count      int32
cost             object
cuisine          object
dtype: object

In [526]:
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.0,10,₹ 200,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50,₹ 200,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100,₹ 100,Beverages
3,187912,Singh Hut,Abohar,3.7,20,₹ 250,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.0,10,₹ 250,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.0,10,₹ 200,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,₹ 300,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,3.0,10,₹ 300,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,3.0,10,₹ 250,Continental
148540,447770,Lazeez kitchen,Yavatmal,3.0,10,₹ 200,Pizzas

In [528]:
df['cost'] = df['cost'].str.replace('₹', '').str.replace(',', '').astype(float)

In [530]:
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.0,10,200.0,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50,200.0,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100,100.0,Beverages
3,187912,Singh Hut,Abohar,3.7,20,250.0,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.0,10,250.0,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.0,10,200.0,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,300.0,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,3.0,10,300.0,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,3.0,10,250.0,Continental
148540,447770,Lazeez kitchen,Yavatmal,3.0,10,200.0,Pizzas

In [532]:
print(df.duplicated().sum())

0

In [534]:
df.fillna({'cost': df['cost'].mean()}, inplace=True)

In [536]:
df.isnull().sum()

id               0
name            86
city             0
rating           0
rating_count     0
cost             0
cuisine         99
dtype: int64

In [538]:
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.0,10,200.0,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50,200.0,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100,100.0,Beverages
3,187912,Singh Hut,Abohar,3.7,20,250.0,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.0,10,250.0,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.0,10,200.0,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,300.0,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,3.0,10,300.0,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,3.0,10,250.0,Continental
148540,447770,Lazeez kitchen,Yavatmal,3.0,10,200.0,Pizzas

In [544]:
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.0,10,200.0,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50,200.0,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100,100.0,Beverages
3,187912,Singh Hut,Abohar,3.7,20,250.0,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.0,10,250.0,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.0,10,200.0,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,300.0,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,3.0,10,300.0,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,3.0,10,250.0,Continental
148540,447770,Lazeez kitchen,Yavatmal,3.0,10,200.0,Pizzas

In [550]:
df.to_csv("D:/Swiggy_Proj/Swiggy_projwork/cleaned_data.csv", index=False)
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.0,10,200.0,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50,200.0,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100,100.0,Beverages
3,187912,Singh Hut,Abohar,3.7,20,250.0,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.0,10,250.0,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,3.0,10,200.0,"Fast Food,Snacks"
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,300.0,Pizzas
148538,559435,Cafe Bella Ciao,Yavatmal,3.0,10,300.0,"Fast Food,Snacks"
148539,418989,GRILL ZILLA,Yavatmal,3.0,10,250.0,Continental
148540,447770,Lazeez kitchen,Yavatmal,3.0,10,200.0,Pizzas

In [556]:
df_cleaned = df.drop_duplicates()
print("/nShape after removing duplicates:", df_cleaned.shape)

Shape after removing duplicates: (148541, 7)

In [558]:
df_cleaned = df_cleaned.dropna()

In [560]:
numeric_columns = df_cleaned.select_dtypes(include=[np.number]).columns
df_cleaned[numeric_columns] = df_cleaned[numeric_columns].fillna(df_cleaned[numeric_columns].mean())

In [562]:
categorical_columns = df_cleaned.select_dtypes(include=['object']).columns
df_cleaned[categorical_columns] = df_cleaned[categorical_columns].fillna(df_cleaned[categorical_columns].mode().iloc[0])

In [566]:
df_cleaned.to_csv('cleaned_data.csv', index=False)
print("/nCleaned data saved successfully!")

Cleaned data saved successfully!

In [ ]:
One-Hot Encoding
Clustering (K-Means, Cosine Similarity, or Similar Methods)

In [572]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import pickle

In [574]:
df = pd.read_csv('cleaned_data.csv')
df

,id,name,city,rating,rating_count,cost,cuisine
0,567335,AB FOODS POINT,Abohar,3.0,10,200.0,"Beverages,Pizzas"
1,531342,Janta Sweet House,Abohar,4.4,50,200.0,"Sweets,Bakery"
2,158203,theka coffee desi,Abohar,3.8,100,100.0,Beverages
3,187912,Singh Hut,Abohar,3.7,20,250.0,"Fast Food,Indian"
4,543530,GRILL MASTERS,Abohar,3.0,10,250.0,"Italian-American,Fast Food"
...,...,...,...,...,...,...,...
148437,553122,The Food Delight,Yavatmal,3.0,10,200.0,"Fast Food,Snacks"
148438,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,300.0,Pizzas
148439,559435,Cafe Bella Ciao,Yavatmal,3.0,10,300.0,"Fast Food,Snacks"
148440,418989,GRILL ZILLA,Yavatmal,3.0,10,250.0,Continental
148441,447770,Lazeez kitchen,Yavatmal,3.0,10,200.0,Pizzas

In [576]:
label_encoders = {}

In [578]:
categorical_columns = ['name', 'city', 'cuisine']
for column in categorical_columns:
    # Create and fit LabelEncoder
    label_encoders[column] = LabelEncoder()
    df[f"{column}_encoded"] = label_encoders[column].fit_transform(df[column])

In [582]:
df_encoded = df.drop(columns=categorical_columns)

In [584]:
df

,id,name,city,rating,rating_count,cost,cuisine,name_encoded,city_encoded,cuisine_encoded
0,567335,AB FOODS POINT,Abohar,3.0,10,200.0,"Beverages,Pizzas",1583,1,328
1,531342,Janta Sweet House,Abohar,4.4,50,200.0,"Sweets,Bakery",47415,1,1983
2,158203,theka coffee desi,Abohar,3.8,100,100.0,Beverages,112634,1,289
3,187912,Singh Hut,Abohar,3.7,20,250.0,"Fast Food,Indian",90297,1,796
4,543530,GRILL MASTERS,Abohar,3.0,10,250.0,"Italian-American,Fast Food",34936,1,1166
...,...,...,...,...,...,...,...,...,...,...
148437,553122,The Food Delight,Yavatmal,3.0,10,200.0,"Fast Food,Snacks",100656,816,822
148438,562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.0,10,300.0,Pizzas,56578,816,1646
148439,559435,Cafe Bella Ciao,Yavatmal,3.0,10,300.0,"Fast Food,Snacks",18414,816,822
148440,418989,GRILL ZILLA,Yavatmal,3.0,10,250.0,Continental,34955,816,650
148441,447770,Lazeez kitchen,Yavatmal,3.0,10,200.0,Pizzas,54916,816,1646

In [586]:
with open('label_encoders.pkl', 'wb') as f:
    pickle.dump(label_encoders, f)

In [588]:
df_encoded.to_csv("D:/Swiggy_Proj/Swiggy_projwork/encoded_data.csv", index=False)

In [592]:
print("\nSample of encoded data:")
print(df_encoded.head())

Sample of encoded data:
       id  rating  rating_count  cost  name_encoded  city_encoded  \
0  567335     3.0            10 200.0          1583             1
1  531342     4.4            50 200.0         47415             1
2  158203     3.8           100 100.0        112634             1
3  187912     3.7            20 250.0         90297             1
4  543530     3.0            10 250.0         34936             1

   cuisine_encoded
0              328
1             1983
2              289
3              796
4             1166

In [606]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Load the original cleaned data
df = pd.read_csv('cleaned_data.csv')

# Initialize dictionary for storing encoders
label_encoders = {}

# Specify the categorical columns
categorical_columns = ['name', 'city', 'cuisine']

# Encode each column
for column in categorical_columns:
    label_encoders[column] = LabelEncoder()
    df[f"{column}_encoded"] = label_encoders[column].fit_transform(df[column])

# Drop original columns and save
df_encoded = df.drop(columns=categorical_columns)
df_encoded.to_csv('encoded_data.csv', index=False)

# Save the encoders
import pickle
with open('label_encoders.pkl', 'wb') as f:
    pickle.dump(label_encoders, f)

In [ ]:
# Reloading the original cleaned data and encoded dataset
original_df = pd.read_csv('D:/Swiggy_Proj/Swiggy_Stremlit/cleaned_data.csv')
encoded_df = pd.read_csv('D:/Swiggy_Proj/Swiggy_Stremlit/encoded_data.csv')

# Encode the 'city' column
from sklearn.preprocessing import LabelEncoder
city_encoder = LabelEncoder()
encoded_df['city_encoded'] = city_encoder.fit_transform(original_df['city'])

# Save the updated encoded dataset
encoded_df.to_csv('D:/Swiggy_Proj/Swiggy_Stremlit/encoded_data.csv', index=False)

# Optionally save the city encoder
with open('city_encoder.pkl', 'wb') as f:
    pickle.dump(city_encoder, f)

In [610]:
columns_to_use = ['id', 'name_encoded', 'city_encoded', 'cuisine_encoded', 'rating']

In [612]:
encoded_df = pd.read_csv('encoded_data.csv')
print("Updated columns in encoded_df:", encoded_df.columns)

Updated columns in encoded_df: Index(['id', 'rating', 'rating_count', 'cost', 'name_encoded', 'city_encoded',
       'cuisine_encoded'],
      dtype='object')

In [654]:
import pandas as pd
import numpy as np
from sklearn.cluster import MiniBatchKMeans
from sklearn.preprocessing import StandardScaler
import pickle
from collections import defaultdict

# Load the updated encoded dataset
encoded_df = pd.read_csv("D:/Swiggy_Proj/Swiggy_Stremlit/encoded_data.csv")
original_df = pd.read_csv("D:/Swiggy_Proj/Swiggy_Stremlit/cleaned_data.csv")

# Clean and prepare the data for clustering
def clean_and_prepare_data(df):
    df_clean = df.copy()
    columns_to_use = ['id', 'name_encoded', 'city_encoded', 'cuisine_encoded', 'rating']
    df_clean['rating'] = pd.to_numeric(df_clean['rating'].replace('--', np.nan), errors='coerce')
    df_clean = df_clean[columns_to_use]
    df_clean = df_clean.fillna(df_clean.mean())  # Fill missing values with mean
    return df_clean

# Clean and scale the data
encoded_df_clean = clean_and_prepare_data(encoded_df)
scaler = StandardScaler()
scaled_features = scaler.fit_transform(encoded_df_clean)

# Save the scaler
with open('D:/Swiggy_Proj/Swiggy_Stremlit/scaler.pkl', 'wb') as f:
    pickle.dump(scaler, f)

# MiniBatch K-Means clustering
def create_cluster_based_recommender(n_clusters=100, batch_size=1000):
    kmeans = MiniBatchKMeans(
        n_clusters=n_clusters,
        batch_size=batch_size,
        random_state=42
    )
    cluster_labels = kmeans.fit_predict(scaled_features)
    
    # Create a mapping of cluster to restaurant indices
    cluster_to_restaurants = defaultdict(list)
    for idx, label in enumerate(cluster_labels):
        cluster_to_restaurants[label].append(idx)
    
    # Save the clustering model and mappings
    with open('D:/Swiggy_Proj/Swiggy_Stremlit/minibatch_kmeans_model.pkl', 'wb') as f:
        pickle.dump((kmeans, cluster_to_restaurants), f)
    
    # Define the recommendation function
    def get_recommendations(restaurant_id, n_recommendations=5):
        try:
            restaurant_features = scaled_features[restaurant_id].reshape(1, -1)
            restaurant_cluster = kmeans.predict(restaurant_features)[0]
            cluster_restaurants = cluster_to_restaurants[restaurant_cluster]
            
            # Exclude the input restaurant
            other_restaurants = [idx for idx in cluster_restaurants if idx != restaurant_id]
            
            # Sort recommendations by rating
            recommendations_df = original_df.iloc[other_restaurants].copy()
            recommendations_df['rating'] = pd.to_numeric(recommendations_df['rating'], errors='coerce')
            recommendations_df = recommendations_df.sort_values('rating', ascending=False)
            
            return recommendations_df.head(n_recommendations)
        except Exception as e:
            print(f"Error in getting recommendations: {str(e)}")
            return pd.DataFrame()
    
    return get_recommendations

# Initialize the recommender system
recommender = create_cluster_based_recommender()

# **Recommendation example**
def get_recommendations(restaurant_id, n_recommendations=5):
    print(f"\nRecommendations for Restaurant ID: {restaurant_id}")
    print("\nOriginal Restaurant Details:")
    print(original_df.iloc[restaurant_id][['name', 'city', 'cuisine', 'rating']])
    
    print("\nCluster-Based Recommendations:")
    cluster_recommendations = recommender(restaurant_id, n_recommendations)
    print(cluster_recommendations[['name', 'city', 'cuisine', 'rating']])

# Test the recommendation system
test_id = 1  # Example restaurant ID
get_recommendations(test_id, n_recommendations=5)

D:\course works\Lib\site-packages\sklearn\cluster\_kmeans.py:1972: UserWarning: MiniBatchKMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can prevent it by setting batch_size >= 3072 or by setting the environment variable OMP_NUM_THREADS=4
  warnings.warn(

Recommendations for Restaurant ID: 1

Original Restaurant Details:
name       Janta Sweet House
city                  Abohar
cuisine        Sweets,Bakery
rating                   4.4
Name: 1, dtype: object

Cluster-Based Recommendations:
                         name                   city              cuisine  \
12958      Fresh crunch pizza  Indiranagar,Bangalore       Pizzas,Burgers
28438   Flavours of Champaran                Bikaner  North Indian,Bihari
23001       DOSE OF DAVANGERE    Jayanagar,Bangalore         South Indian
29194          Copper Chimney                Bikaner  North Indian,Indian
102135          Drink & Shake         Dugri,Ludhiana            Beverages

        rating
12958      5.0
28438      5.0
23001      4.9
29194      4.9
102135     4.9

In [618]:
ALL DONE